<%= render 'shared/navbar' %>
<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto p-3">
      <div class="card p-5" >
        <h1>Edit Cocktail</h1>
          <%= simple_form_for(@cocktail) do |f| %>
          <%= f.input :name %>
           <%= f.input :description %>
            <%= f.input :photo %>
            <%= f.input :photo_change, as: :hidden%>
           <%= f.submit :submit, class: "create-button"%>
          <% end %>

          <%= link_to 'Back', @cocktail, class: "btn btn-flat" %>
      </div>
    </div>
  </div>
</div>
