<%= render 'shared/navbar' %>

<div class="page-content">
  <% unless @cocktail.photo.present? %>
  <div class="wrapper" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)), url(<%= @cocktail.image_url %>)">
      <h1 class="text-center" > <%= @cocktail.name %> </h1>
  </div>

  <% else %>
   <div class="wrapper" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.4)), url(<%= cl_image_path @cocktail.photo%>)">
      <h1 class="text-center"> <%= @cocktail.name %> </h1>
  </div>
  <% end %>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-7">
        <h3> Description </h3>
        <p> <%= @cocktail.description %> </p>
          <% if policy(@cocktail).edit? %>
            <%= link_to "Edit", edit_cocktail_path(@cocktail), class: "btn btn-danger"%>
          <% end %>
          <% if policy(@cocktail).destroy? %>
          <button id="sweet-alert-demo" class="btn btn-danger">Delete Cocktail</button>
            <%= link_to '', cocktail_path(@cocktail), method: :delete, id: "delete-link", class: "hidden" %>
          <% end %>
      </div>

        <div class="col-xs-12 col-md-5">
          <h3> Ingredient </h3>
          <ul class = "list">
                <% @cocktail.doses.each do |l| %>
                <li>
                  <strong> <%= l.ingredient.name %> </strong> -
                  <%= l.description %>

                  <%= link_to dose_path(l), method: :delete, data: { confirm: "Are you sure you want to remove #{@ingredients.name} from #{@cocktail.name.upcase}?"} do %>
                  <%= image_tag('delete.png', height: '11px', style: "padding-left: 5px;") %>
                  <% end %>

                </li>
              <% end %>
            </ul>
            <div>
            <%= link_to 'Add Ingredient', new_cocktail_dose_path(@cocktail), class: "btn btn-danger" %>
          </div>
      </div>
    </div>
  </div>
</div>
