<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto p-3">
      <div class="card p-5" >
        <h1> <%= @cocktail.name %> </h1>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= @cocktail.image_url %>)">
        </div>

        <p>
          <strong> Ingredients:</strong>
          <%= @cocktail.doses.each do |l| %>
          <%= l.description %>
          <%= l.ingredient.name %>
        <% end %>
        </p>

        <div>
        <%= link_to 'Add Ingredient', new_cocktail_dose_path(@cocktail) %> |
        <%= link_to 'Delete Cocktail', cocktail_path(@cocktail),
          method: :delete, data: { confirm: "Are you sure?" } %> |
        <%= link_to 'Back', cocktails_path %>
        </div>
      </div>
    </div>
  </div>
</div>
