<div class="container">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <div class="card p-5" >
        <h1>New Ingredient</h1>
          <%= simple_form_for [@cocktail, @dose] do |f| %>
          <%= f.association :ingredient %>
           <%= f.input :description %>
           <%= f.submit :submit %>
          <% end %>

          <%= link_to 'Back', @cocktail, class: "btn btn-flat" %>
      </div>
    </div>
  </div>
</div>
